<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <!-- bootstrap css --->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
    <!-- bootstrap css -->
    <link href="/css/style.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="container">
        <header>
            <h1>Project Management Prototype Build</h1>
        </header>

        <div class="row box-theme">
            <div class="nav-bar">
                <div class="col-sm-3">
                    <ul class="tab">
                        <li><a href="#" class="tablinks" onclick="openCity(event, 'Settings')">Settings</a></li>
                        <li><a href="#" class="tablinks" onclick="openCity(event, 'Dashboard')">Dashboard</a></li>
                    </ul>
                </div>
                <div class="col-sm-9">
                </div>
            </div>


            <div id="Settings" class="tabcontent default-active">
                <div class="col-sm-3 filter-pan p0">
                    <div class="form-group">
                        <a href="/jira" class="btn-submit filter-btn">Refresh</a>
                    </div>
                    <div class="form-group">
                        <label for="savedFilter" class="control-label col-sm-12 text-left">Saved Filters:</label>
                        <div class="col-sm-12 text-left custom-select">
                            <select id="savedFilter" class="">
                                <option value="">Issue filter 1</option>
                                <option value="">Issue filter 2</option>
                                <option value="">Issue filter 3</option>
                                <option value="">Issue filter 4</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="issuetype" class="control-label col-sm-12 text-left">New Issue Filter :</label>
                        <div class="col-sm-8 text-left custom-select">
                            <select name="issuetype" class="" id="issuetype" >
                                <option value="">-- Select Issue Type --</option>
                                {{#data}}
                                <option value="{{issuetype}}">{{issuetype}}</option>
                                {{/data}}
                            </select>
                        </div>
                        <div class="col-sm-4 pl0">
                            <div class="add-filter-btn p0">
                                <buton id="filter-Add" class="">Add Filter</buton>
                            </div>

                        </div>
                    </div>

                    <ul>
                        <li>Filter1</li>
                        <li>Filter2</li>
                        <li>Filter1</li>
                        <li>Filter1</li>
                    </ul>


                    <button>Save Filter</button>
                </div>

                <div class="col-sm-9">
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <div class="col-sm-8">
                                <label for="graph-type" class="control-label col-sm-4">Graph type:</label>
                                <div class="col-sm-8">
                                    <select id="graph-type" class="form-control">
                                        <option value="bar">Bar</option>
                                        <option value="line">Line</option>
                                        <option value="pie">Pie</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>

                        <div class="col-sm-12">
                            <div class="graph-type-bar graph-container filter-form">
                                <div class="col-sm-6 form-horizontal">
                                    <div class="form-group">
                                        <label for="graph-title" class="control-label col-sm-4">Graph title:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="graph-title">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="horizontal-axis-label" class="control-label col-sm-4">Horizontal axis label:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="horizontal-axis-label">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="vertical-axis-label" class="control-label col-sm-4">Vertical axis label:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="vertical-axis-label">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="horizontal-data-type" class="control-label col-sm-4">Horizontal data type:</label>
                                        <div class="col-sm-8">
                                            <select id="horizontal-data-type" class="form-control">
                                                <option value="">District</option>
                                                <option value="">Taluk</option>
                                                <option value="">No. of Acres</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 form-horizontal">
                                    <div class="form-group">
                                        <label for="horizontal-data-values" class="control-label col-sm-4">Horizontal data values:</label>
                                        <div class="col-sm-8">
                                            <textarea style="height: 50px" id="horizontal-data-values" class="form-control">Kurnool&#13;&#10;Anantapur&#13;&#10;Vizianagaram</textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="vertical-data-type" class="control-label col-sm-4">Vertical data type:</label>
                                        <div class="col-sm-8">
                                            <select id="vertical-data-type" class="form-control">
                                                <option value="">No. of Acres</option>
                                                <option value="">District</option>
                                                <option value="">Taluk</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="vertical-data-values" class="control-label col-sm-4">Vertical data values:</label>
                                        <div class="col-sm-8">
                                            <textarea style="height: 50px" id="vertical-data-values" class="form-control">50&#13;&#10;100&#13;&#10;150</textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="number-of-bars" class="control-label col-sm-4">Number of Bars:</label>
                                        <div class="col-sm-8">
                                            <select id="number-of-bars" class="form-control">
                                                <option value="">1</option>
                                                <option value="">2</option>
                                                <option value="">3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="graph-type-line graph-container filter-form">
                                <div class="col-sm-6 form-horizontal">
                                    <div class="form-group">
                                        <label for="graph-title-line" class="control-label col-sm-4">Graph title:</label>
                                        <div class="col-sm-8">
                                            <input id="graph-title-line" type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="horizontal-axis-label" class="control-label col-sm-4">Horizontal axis label:</label>
                                        <div class="col-sm-8">
                                            <input id="horizontal-axis-label-line" type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="vertical-axis-label-line" class="control-label col-sm-4">Vertical axis label:</label>
                                        <div class="col-sm-8">
                                            <input id="vertical-axis-label-line" type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="horizontal-data-type-line" class="control-label col-sm-4">Horizontal data type:</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" id="horizontal-data-type-line">
                                                <option value="">District</option>
                                                <option value="">Taluk</option>
                                                <option value="">No. of Acres</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 form-horizontal">
                                    <div class="form-group">
                                        <label for="horizontal-data-values-line" class="control-label col-sm-4">Horizontal data values:</label>
                                        <div class="col-sm-8">
                                            <textarea style="height: 50px" class="form-control" id="horizontal-data-values-line">Kurnool&#13;&#10;Anantapur&#13;&#10;Vizianagaram</textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="vertical-data-type-line" class="control-label col-sm-4">Vertical data type:</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" id="vertical-data-type-line">
                                                <option value="">No. of Acres</option>
                                                <option value="">District</option>
                                                <option value="">Taluk</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="vertical-data-values-line" class="control-label col-sm-4">Vertical data values:</label>
                                        <div class="col-sm-8">
                                            <textarea style="height: 50px" class="form-control" id="vertical-data-values-line">50&#13;&#10;100&#13;&#10;150</textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="number-of-lines-line" class="control-label col-sm-4">Number of Lines:</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" id="number-of-lines-line">
                                                <option value="">1</option>
                                                <option value="">2</option>
                                                <option value="">3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="graph-type-pie graph-container filter-form">
                                <div class="col-sm-6 form-horizontal">
                                    <div class="form-group">
                                        <label for="graph-title-pie" class="control-label col-sm-4">Graph title:</label>
                                        <div class="col-sm-8">
                                            <input id="graph-title-pie" type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="data-name-pie" class="control-label col-sm-4">Data name:</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" id="data-name-pie">
                                                <option value="">District</option>
                                                <option value="">Taluk</option>
                                                <option value="">No. of Acres</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="data-names-pie" class="control-label col-sm-4">Data names:</label>
                                        <div class="col-sm-8">
                                            <textarea style="height: 50px" class="form-control" id="data-names-pie">Kurnool&#13;&#10;Anantapur&#13;&#10;Vizianagaram</textarea>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-6 form-horizontal">

                                    <div class="form-group">
                                        <label for="data-value-pie" class="control-label col-sm-4">Data value:</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" id="data-value-pie">
                                                <option value="">No. of Acres</option>
                                                <option value="">District</option>
                                                <option value="">Taluk</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="data-values-pie" class="control-label col-sm-4">Data values:</label>
                                        <div class="col-sm-8">
                                            <textarea style="height: 50px" class="form-control" id="data-values-pie">50&#13;&#10;100&#13;&#10;150</textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="slice-text-pie" class="control-label col-sm-4">Slice text:</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" id="slice-text-pie">
                                                <option value="">Percentage</option>
                                                <option value="">Names</option>
                                                <option value="">Values</option>
                                                <option value="">None</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mT15">
                        <div class="col-sm-6 pR0">
                            <div class="entries graph-box">
                                <div>
                                    <img src="{{imageUrl}}" style="width:345px" >
                                </div>
                                <button>Save Graph</button>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="entries">
                                <div>
                                    Issues:
                                    <ul>
                                        <li><a href=""> An improvement or enhancement to an existing feature or task</a></li>
                                        <li><a href=""> This is an example issue for jira-connector</a></li>
                                        <li><a href=""> Propagate Milestone/Version creation between Jira and GitHub</a></li>
                                        <li><a href=""> A problem which impairs or prevents the functions of the product.</a></li>
                                        <li><a href=""> This issue was once resolved, but the resolution was deemed incorrect.</a></li>
                                        <li><a href=""> A problem which impairs or prevents the functions of the product.</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div id="Dashboard" class="tabcontent">
                <table>
                    <tr>
                        <td>
                            <div style="border: 1px solid #ccc; width: 100%">
                                <img src="http://getwordwall.com/Attachments/Screenshots/Play/bar-graph.png" style="width:345px" >
                            </div>
                        </td>
                        <td style="vertical-align: top"><div style="border: 1px solid #ccc; width: 100%; vertical-align: top">
                            Issues:
                            <ul>
                                <li><a href=""> An improvement or enhancement to an existing feature or task</a></li>
                                <li><a href=""> This is an example issue for jira-connector</a></li>
                                <li><a href=""> Propagate Milestone/Version creation between Jira and GitHub</a></li>
                                <li><a href=""> A problem which impairs or prevents the functions of the product.</a></li>
                                <li><a href=""> This issue was once resolved, but the resolution was deemed incorrect.</a></li>
                                <li><a href=""> A problem which impairs or prevents the functions of the product.</a></li>
                                <li><a href=""> A problem which impairs or prevents the functions of the product.</a></li>
                                <li><a href=""> This issue was once resolved, but the resolution was deemed incorrect.</a></li>
                                <li><a href=""> A problem which impairs or prevents the functions of the product.</a></li>
                                <li><a href=""> This issue was once resolved, but the resolution was deemed incorrect.</a></li>
                                <li><a href=""> A problem which impairs or prevents the functions of the product.</a></li>

                            </ul>
                        </div></td>

                        <td rowspan="3" style="vertical-align: top">
                            <div style="border: 1px solid #ccc; width: 100%; vertical-align: top; height: 780px; padding: 10px; font-size: 20px">
                                After click on a particular issue, <br/>
                                then the corresponding JIRA Issue page <br/>
                                will be displayed in this pane...
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <div style="border: 1px solid #ccc; width: 100%">
                                <img src="http://getwordwall.com/Attachments/Screenshots/Play/bar-graph.png" style="width:345px" >
                            </div>
                        </td>
                        <td style="vertical-align: top"><div style="border: 1px solid #ccc; width: 100%; vertical-align: top">
                            Issues:
                            <ul>
                                <li><a href=""> An improvement or enhancement to an existing feature or task</a></li>
                                <li><a href=""> This is an example issue for jira-connector</a></li>
                                <li><a href=""> This issue was once resolved, but the resolution was deemed incorrect.</a></li>
                                <li><a href=""> A problem which impairs or prevents the functions of the product.</a></li>
                                <li><a href=""> Propagate Milestone/Version creation between Jira and GitHub</a></li>
                                <li><a href=""> A problem which impairs or prevents the functions of the product.</a></li>
                                <li><a href=""> This issue was once resolved, but the resolution was deemed incorrect.</a></li>
                                <li><a href=""> A problem which impairs or prevents the functions of the product.</a></li>
                                <li><a href=""> A problem which impairs or prevents the functions of the product.</a></li>
                                <li><a href=""> This issue was once resolved, but the resolution was deemed incorrect.</a></li>
                                <li><a href=""> A problem which impairs or prevents the functions of the product.</a></li>
                            </ul>
                        </div></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <div style="border: 1px solid #ccc; width: 100%">
                                <img src="http://getwordwall.com/Attachments/Screenshots/Play/bar-graph.png" style="width:345px" >
                            </div>
                        </td>
                        <td style="vertical-align: top"><div style="border: 1px solid #ccc; width: 100%; vertical-align: top">
                            Issues:
                            <ul>
                                <li><a href=""> An improvement or enhancement to an existing feature or task</a></li>
                                <li><a href=""> This is an example issue for jira-connector</a></li>
                                <li><a href=""> Propagate Milestone/Version creation between Jira and GitHub</a></li>
                                <li><a href=""> A problem which impairs or prevents the functions of the product.</a></li>
                                <li><a href=""> This issue was once resolved, but the resolution was deemed incorrect.</a></li>
                                <li><a href=""> A problem which impairs or prevents the functions of the product.</a></li>
                                <li><a href=""> A problem which impairs or prevents the functions of the product.</a></li>
                                <li><a href=""> This issue was once resolved, but the resolution was deemed incorrect.</a></li>
                                <li><a href=""> A problem which impairs or prevents the functions of the product.</a></li>
                                <li><a href=""> This issue was once resolved, but the resolution was deemed incorrect.</a></li>
                                <li><a href=""> A problem which impairs or prevents the functions of the product.</a></li>
                            </ul>
                        </div></td>
                        <td style="vertical-align: top">

                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

<!--- modal --->
    <div class="filter-modal item1" id="modal">
        <div class="content">
            <h1>Filter Popup</h1>
            <div class="close">Close</div>
            <ul class="membes-on">
                <li class="district">District</li>
                <li class="taluk">Taluk</li>
                <li class="acres">No. of Acres</li>
            </ul>
            <div class="sub-filter item2">
                <div class="content">
                    <h1>Filter Popup</h1>
                    <div class="close">back</div>
                    <select name="district" class="" id="district">
                        <option value="">-- Select Districts --</option>
                        {{#data1}}
                        <option value="{{districts}}">{{districts}}</option>
                        {{/data1}}
                    </select>
                    <div class="btn-grp">
                        <button type="button" class="next">Add more filter</button>
                        <button type="button" id="addDistrict">Add this filter</button>
                    </div>
                </div>
            </div>

            <div class="sub-filter-taluk item3">
                <div class="content">
                    <h1>Filter Popup</h1>
                    <div class="close">back</div>
                    <select name="taluk" class="" id="taluk">
                        <option value="">-- Select Taluks --</option>
                        {{#data2}}
                        <option value="{{taluks}}">{{taluks}}</option>
                        {{/data2}}
                    </select>
                    <div class="btn-grp">
                        <button type="button" class="next">Add more filter</button>
                        <button type="button" id="addTaluk">Add this filter</button>
                    </div>
                </div>
            </div>

            <div class="sub-filter-acres item4">
                <div class="content">
                    <h1>Filter Popup</h1>
                    <div class="close">back</div>
                    <ul class="Acres" style="padding: 0">
                        <select name="acreSymbol" id="acreSymbol">
                            <option value=">">&gt;</option>
                            <option value="<">&lt;</option>
                            <option value="=">=</option>
                        </select>
                        <input type="text" value="" id="acreValue">
                    </ul>
                    <div class="btn-grp">
                        <button type="button" class="next">Add more filter</button>
                        <button type="button" id="addAcre">Add this filter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="filter-modal item2" id="modal2">
        <div class="content">
            <h1>Filter Popup</h1>
            <div class="close">Close</div>
            <ul class="membes-on">
                <li class="">District</li>
                <li class="">Taluk</li>
                <li class="">No. of Acres</li>
            </ul>
        </div>
    </div>
<!-- modal end -->
</body>
</html>

        <style>
            /* Style the list */


            /* Float the list items side by side */
            ul.tab li {float: left;}





            /* Create an active/current tablink class */
            ul.tab li a:focus, .active {background-color: #ccc;}


            .tree {
                display: none;
            }
            .filter-modal {
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1050;
                overflow: hidden;
                -webkit-overflow-scrolling: touch;
                outline: 0;
                opacity: 1;
                display: none;
            }
            .filter-modal .content {
                background-color: #fefefe;
                margin: auto;
                padding: 20px;
                border: 1px solid #888;
                width: 300px;
                height: auto;
                top: 50%;
                left: 50%;
                margin-top: -100px;
                margin-left: -150px;
                position: fixed;
                box-shadow: 0px 0px 3px -1px rgb(0, 0, 0);
            }
            .filter-modal .content h1 {
                font-size: 16px;
                margin: 0;
                padding: 0 0 5px 0;
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                font-weight: normal;
            }
            .filter-modal ul {
                margin: 5px 0;
                padding: 0;
            }
            .filter-modal ul li {
                list-style: none;
                padding: 3px 0;
            }
            .enable {
                display: block !important;
            }
            .sub-filter, .sub-filter-taluk, .sub-filter-acres {
                position: relative;
                display: none;
                z-index: 1051;
            }
            .btn-grp div {
                float: left;
                min-width: 50px;
                width: auto;
                background: rgb(204, 204, 204);
                padding: 2%;
                border-radius: 5px;
                text-align: center;
                margin-right: 10px;
                cursor: pointer;
            }
            .btn-grp div:hover, .close:hover {
                background: green;
                color: #fff;
            }
            .close {
                width: 50px;
                position: absolute;
                right: 20px;
                top: 12px;
                background: rgb(204, 204, 204);
                padding: 5px;
                text-align: center;
                border-radius: 5px;
                cursor: pointer;
            }
            .btn-submit {
                color: white;
                text-decoration: none;
                padding: 8px 18px 8px 18px;
                font-size: 16px;
                cursor: pointer;
                float: left;
            }

        </style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <script>
            $(document).ready(function () {
                $('#refreshJson').click(function () {
                    $(this).after("<img src='/ajax-loader.gif' alt='loading' />");
                    $.get('/jira', function () {
                    });
                });
                $('#issuetype').on('change', function() {
                    if(this.value) {
                        var issue1 = 'issueType=' + this.value;
                        //  Issue Type = Member On-boarding & District = Kurnool,Anantapur & Taluk = Achampeta, Alair & No. of Acres = >50, <100
                        $("textarea[name=filterText]").val(issue1);
                        $('.filter-modal.item1').addClass('enable');
                    } else {
                        $("textarea[name=filterText]").val("");
                    }
                });

                $('#addDistrict').click(function () {
                    var _district = $("#district").val();
                    if(_district) {
                        var oldFilter = $("textarea[name=filterText]").val();
                        $("textarea[name=filterText]").val(oldFilter+' & District='+ _district);
                        $('#district option').prop('selected', function() {
                            return this.defaultSelected;
                        });
                    }
                });

                $('#addTaluk').click(function () {
                    var _taluk = $("#taluk").val();
                    if(_taluk) {
                        var oldFilter = $("textarea[name=filterText]").val();
                        $("textarea[name=filterText]").val(oldFilter+' & Taluk='+ _taluk);
                        $('#taluk option').prop('selected', function() {
                            return this.defaultSelected;
                        });
                    }
                });

                $('#addAcre').click(function () {
                    var _acreSymbol = $("#acreSymbol").val();
                    var _acreValue = $("#acreValue").val();
                    var _acre = _acreSymbol + _acreValue;
                    if(_acre) {
                        var oldFilter = $("textarea[name=filterText]").val();
                        $("textarea[name=filterText]").val(oldFilter+' & NoOfAcres='+ _acre);
                        $("#acreValue").val("");
                    }
                });
            });

            /*$('.filter-modal').click(function(){
                $(this).parent().children('ul.tree').toggle(300);
            });*/

            $('.item1').click(function(){
                $('.filter-modal.item1').addClass('enable');
            });
            $('.seed').click(function(){
                $('.filter-modal.item2').addClass('enable');
            });

            $('.district').click(function(){
                $('.sub-filter').addClass('enable');
            });
            $('.taluk').click(function(){
                $('.sub-filter-taluk').addClass('enable');
            });
            $('.acres').click(function(){
                $('.sub-filter-acres').addClass('enable')
            });

            var modal = document.getElementById('modal');
            var modal2 = document.getElementById('modal2');

            // When the user clicks anywhere outside of the modal, close it
//            window.onclick = function(event) {
//                if (event.target == modal) {
//                    console.log(event.target);
//                    $('.filter-modal.item1').removeClass('enable');
//                    $('.sub-filter, .sub-filter-taluk, .sub-filter-acres').removeClass('enable');
//                }
//            };


            $('.close').click(function(){
                $(this).parent().parent().removeClass('enable')
                return false;
            });

            $('.next').click(function(){
                $(this).closest('.enable').removeClass('enable');
            });

            $('.add').click(function(){
                $('#modal').removeClass('enable');
                $(this).closest('.enable').removeClass('enable');
                return false;
            });

            $(function() {
                $('.graph-container').hide();
                $('.graph-type-bar').show();
                $('#graph-type').change(function(){
                    if($('#graph-type').val() == 'bar') {
                        $('.graph-type-bar').show();
                        $('.graph-type-pie').hide();
                        $('.graph-type-line').hide();
                    } else if($('#graph-type').val() == 'pie') {
                        $('.graph-type-pie').show();
                        $('.graph-type-bar').hide();
                        $('.graph-type-line').hide();
                    }else if($('#graph-type').val() == 'line'){
                        $('.graph-type-line').show();
                        $('.graph-type-bar').hide();
                        $('.graph-type-pie').hide();
                    }
                });
            });

            function openCity(evt, cityName) {
                // Declare all variables
                var i, tabcontent, tablinks;

                // Get all elements with class="tabcontent" and hide them
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                    $('.tabcontent').removeClass('default-active');
                }


                // Get all elements with class="tablinks" and remove the class "active"
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }

                // Show the current tab, and add an "active" class to the link that opened the tab
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }
        </script>