<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>Create Task/Issue</h2>
<table>
    <tr>
        <td>Issue Type</td>
        <td><select>
            <option value="">Member on-boarding</option>
            <option value="">Seed Distribution</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Summary</td>
        <td>

           <textarea></textarea>

        </td>
    </tr>
    <tr>
        <td>Name</td>
        <td>

                <input type="text"/>

        </td>
    </tr>
    <tr>
        <td>District</td>
        <td>

            <select>
                <option value="">Chittor</option>
                <option value="">Godavari</option>
            </select>

        </td>
    </tr>
    <tr>
        <td>Taluk</td>
        <td>

            <select>
                <option value="">sdfds</option>
                <option value="">sdfsd</option>
            </select>

        </td>
    </tr>
    <tr>
        <td>Acres</td>
        <td>
            <input type="text"/>

        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button>Create</button>

        </td>
    </tr>
</table>

</body>
</html>