<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title></title>
    <link href="/css/mobile-form.css" rel="stylesheet" type="text/css" />
    <!-- bootstrap css --->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <h2>Wassan</h2>
        <span>Project Management</span>
    </header>
    <div class="content">
        <h2>Create Task / Issues</h2>
        <form method="post" id="form-create-task" class="form-create-task">
            <div class="container-fluid">
                <div class="form-group">
                    <select id="ap-issuetype" name="ap-issuetype" class="form-control" >
                        <option>Issue Type</option>
                        <option value="member-on-boarding">Member On-boarding</option>
                        <option value="seed-distribution">Seed Distribution</option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" id="summary" name="summary" placeholder="Summary"/>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" id="name" name="name" placeholder="Name"/>
                </div>

                <div class="form-group">
                    <select id="ap-district" name="ap-district" class="form-control">
                        <option>District</option>
                        <option value="Adilabad">Adilabad</option>
                        <option value="Anantapur">Anantapur</option>
                        <option value="Chittoor">Chittoor</option>
                        <option value="Cuddappah">Cuddappah</option>
                        <option value="Guntur">Guntur</option>
                        <option value="Karimnagar">Karimnagar</option>
                        <option value="Karimnagar">Karimnagar</option>
                        <option value="Krishna">Krishna</option>
                        <option value="Kurnool">Kurnool</option>
                        <option value="Mahaboob">Mahaboob</option>
                        <option value="Medak">Medak</option>
                    </select>
                </div>
                <div class="form-group">
                    <select id="ap-taluk" name="ap-taluk" class="form-control">
                        <option>Taluk</option>
                        <option value="Agali">Agali</option>
                        <option value="Amadagur">Amadagur</option>
                        <option value="Amarapuram">Amarapuram</option>
                        <option value="Gooty">Gooty</option>
                        <option value="Guntur">Guntur</option>
                        <option value="Irala">Irala</option>
                        <option value="Kalakada">Kalakada</option>
                        <option value="Kalikiri">Kalikiri</option>
                        <option value="Kuppam">Kuppam</option>
                        <option value="Puttur">Puttur</option>
                        <option value="Badvel">Badvel</option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" id="seed-name" name="seed-name" placeholder="Seed Name"/>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" id="seed-qty" name="seed-qty" placeholder="Seed Quantity"/>
                </div>

                <div class="form-group">
                    <input class="form-control" type="text" id="acres" name="acres" placeholder="No. of Acres"/>
                </div>

                <div class="form-group">
                    <button id="btn-create-task" name="btn-create-task">Create</button>
                    <label id="display-msg"></label>
                </div>
            </div>

        </form>
    </div>


</body>
<!--<link rel="stylesheet" href="/css/chosen.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/chosen.jquery.min.js" type="text/javascript"></script>-->
</html>



<script>
    $(document).ready(function(){
        /*$(".chosen-select").chosen({width: "100%", disable_search: true});*/
    });
    $('#form-create-task').on('click', '#btn-create-task',  function (e) {
        $.post('/CreateIssue', $('#form-create-task').serialize())
                .done(function (result) {
                    if(result) {
                        $("#display-msg").val = "SUCCESS"
                    } else {
                        $("#display-msg").val = "FAILED"
                    }
                });
    });
</script>