
/* mobile first */
body {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    /*background:url('/img/body-bg.jpg') repeat-x #1ac9a4;*/
    background: rgb(101, 74, 45);
    background-size: cover;
}
h1 {
    text-align: left;
    color: #fff;
}
.box-theme {
/*    background: #efefef;*/
    margin-top: 20px;
    margin-bottom: 40px;
}
.default-active {
    display: block !important;
}
.nav-bar {
    background: linear-gradient(rgb(227, 60, 8), rgb(199, 32, 16));
    float: left;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.nav-bar h1{
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 36px;
}
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}
/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
}
/* Change background color of links on hover */
ul.tab li a:hover {background-color: #c61e13;}
/* Style the tab content */
.tabcontent {
    display: none;
}
.filter-pan {
    background: linear-gradient(to right, rgb(242, 207, 160), rgb(243, 229, 182));
    height: 780px;
}
.main-content {
    background: linear-gradient(to right, rgb(242, 207, 160), rgb(243, 229, 182));
    min-height: 780px;
    height: auto;
}
.filter-form, .entries {
    background: #fff;
    float: left;
    padding: 2% 0;
    width: 100%;
}
.entries h2 {
    background: #c61e13;
    color: #fff;
    padding: 5px 0;
    margin: 0;
    font-size: 14px;
}
.filter-form {
    background: linear-gradient(to left, rgb(242, 207, 160), rgb(243, 229, 182));
    box-shadow: none!important;
}
.mT15 {
    margin-top: 15px;
}
.entries ul {
    padding: 20px;
}
.entries ul li {
    margin: 0;
    padding: 8px;
    list-style: none;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.graph-box {
    min-height: 408px;
}
.pR0 {
    padding-right: 0;
}
.p0 {
    padding: 0;
}
.pl0 {
   padding-left: 0;
}
.filter-btn {
    width: 100%;
    margin: 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transition: background 0.3s;
    transition: border 0.5s;
    text-align: right;
    color: #000;
}
.filter-btn:hover {
    background: #c61e13;
    color: #fff;
    text-decoration: none;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.custom-select {
    overflow: hidden;
}
.custom-select select {
    padding: 5px 4px;
    width: 100%;
    border: none;
    box-shadow: none;
    background: #fff;
    background-image: none;
   /* -webkit-appearance: none;*/
    border-radius: 5px;
    color: #000;
}

.custom-select select:focus {
    outline: none;
}
.custom-select select option {
    background: rgba(0, 0, 0, 0.4);
    color:#fff;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    padding: 10px 0;
}
.form-group {
    overflow: auto;
}
/* box shadow */
.filter-form, .entries, .box-theme {
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3);
}
/* box shadow */

.add-filter-btn {
    overflow: auto;
    padding: 4px;
    border-radius: 5px;
    background: #c61e13;
    color: #fff;
    transition: background 0.3s;
    cursor: pointer;
}
.add-filter-btn:hover {
    background: darkorange;
}
.form-group label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-align: left;
}
#formBarGraph label, #formLineGraph label, #formPieChart label {
    height: 25px;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 25px;
    padding: 0;
    margin: 0;
}
#formBarGraph .form-horizontal .control-label, #formBarGraph .form-group, #formBarGraph label,
#formLineGraph .form-horizontal .control-label, #formLineGraph .form-group, #formLineGraph label,
#formPieChart .form-horizontal .control-label, #formPieChart .form-group, #formPieChart label{
    text-align: left!important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.table-form input, .table-form textarea, .table-form select {
    border-radius: 2px !important;
    box-shadow: none;
    height: 25px;
    padding: 0 5px;
}

.table-form .form-group {
    margin-bottom: 8px;
}
.custom-width {
    width: 68px !important;
}
.add-filter-btn input {
    background: none;
    border: none;
    width: 100%;
    padding: 0;
}
.table-form .add-filter-btn {
    padding: 5px;
}
.add-filter-btn.save-graph-btn {
    padding: 5px;
}
.save-graph-btn button {
    background: none;
    border: none;
    padding: 2px;
}
.form-control {
    height: 25px !important;
    padding: 2px 12px !important;
}
.form-horizontal .control-label {
    padding-top: 0;
}
.filter-List-ul {

}
.filter-List-ul li {
    color: #ffffff;
    list-style: none;
}
.sub-filter .content, .sub-filter-taluk .content, .sub-filter-acres .content {
    min-height: 160px;
    box-shadow: none !important;
    border: none !important;
}
.add-filter-btn button {
    background: none;
    border: none;
    box-shadow: none;
}
.add-filter-btn button:focus, .add-filter-btn input:active {
    border: none!important;
    box-shadow: none!important;
}
.filter-List-ul {
    margin: 0px;
    padding: 0px;
}

.filter-List-ul li {
    color: #000;
    text-align: left;
    padding: 0 15px;
    list-style-type:decimal;;
    list-style-position:inside;
}
#Dashboard .entries h1 {
    color: #000;
    font-size: 14px;
    margin: 0;
    padding:0 15px;
}
#Dashboard .entries ul {
    margin: 0px;
    padding: 0;
}
#Dashboard .entries ul li {
    margin: 0;
    padding: 2px 0;
}
