
/* mobile first */
body {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background:url('/img/body-bg.png') repeat-x #1ac9a4;
}
h1 {
    text-align: left;
    color: #fff;
}
.box-theme {
    background: #efefef;
    margin-bottom: 40px;
}
.default-active {
    display: block !important;
}
.nav-bar {
    background: #005485;
    float: left;
    width: 100%;
}
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
}
/* Change background color of links on hover */
ul.tab li a:hover {background-color: #006baa;}
/* Style the tab content */
.tabcontent {
    display: none;
}
.filter-pan {
    background: #0093c1;
    background: -webkit-linear-gradient(top, #006baa, #0093c1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #006baa, #0093c1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #006baa, #0093c1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top, #006baa, #0093c1); /* Standard syntax */
    height: 780px;
}
.filter-form, .entries {
    background: #fff;
    float: left;
    padding: 2% 0;
    width: 100%;
}
.mT15 {
    margin-top: 15px;
}
.entries ul {
    padding: 20px;
}
.entries ul li {
    margin: 0;
    padding: 8px;
    list-style: none;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.graph-box {
    min-height: 408px;
}
.pR0 {
    padding-right: 0;
}
.p0 {
    padding: 0;
}
.pl0 {
   padding-left: 0;
}
.filter-btn {
    width: 100%;
    margin: 0;
    border-top: 1px solid #005485;
    border-bottom: 1px solid #005485;
    transition: background 0.3s;
    transition: border 0.5s;
    text-align: right;
}
.filter-btn:hover {
    background: #005485;
    color: #fff;
    text-decoration: none;
    border-top: 1px solid #006baa;
    border-bottom: 1px solid #0093c1;
}
.custom-select {
    overflow: hidden;
}
.custom-select select {
    padding: 10px 4px;
    width: 100%;
    border: none;
    box-shadow: none;
    background: #005485;
    background-image: none;
   /* -webkit-appearance: none;*/
    border-radius: 5px;
    color: #fff;
}

.custom-select select:focus {
    outline: none;
}
.custom-select select option {
    background: rgba(0, 0, 0, 0.4);
    color:#fff;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    padding: 10px 0;
}
.form-group {
    overflow: auto;
}
/* box shadow */
.filter-form, .entries, .box-theme {
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);
}
/* box shadow */

.add-filter-btn {
    overflow: auto;
    padding: 9px;
    border-radius: 5px;
    background: #005485;
    color: #fff;
    transition: background 0.3s;
    cursor: pointer;
}
.add-filter-btn:hover {
    background: #0093c1;
}